@model IEnumerable<pokusajNecega3.Models.BusinesObject.RacunBO>


<table class="table">
    <tr>
        <th>RacunID:</th>
        <th>Datum:</th>
        <th>Cena:</th>
        <th>Akcije:</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(Model => item.RacunId)
    </td>
    <td>
        @Html.DisplayFor(Model => item.Datum)
    </td>
    <td>
        @Html.DisplayFor(Model => item.Cena)
    </td>
    <td>
        <button onclick="funkcija2( @item.RacunId , @item.Cena)" type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger">Obrisi</button>

    </td>
</tr>
    }
</table>