@model pokusajNecega3.Models.BusinesObject.KorisniciBO
@{
    ViewData["Title"] = "Login";

}
<h1>Dobrodosli</h1>
<h2>@Model.KorisnickoIme</h2>

@if(String.IsNullOrEmpty(Model.Uloga) == true)
{
    <h2>Morate da se ulogujete prvo: </h2>
    @Html.ActionLink("Nazad", "Index", "Home");
}

@if (Model.Uloga == "admin")
{
    @Html.ActionLink("Pretraga i brisanje vozila", "NadjiVoziloPoReg", "Vozilo") <br/>
    @Html.ActionLink("Unos novog vozila", "Dodaj", "Vozilo")<br />
    @Html.ActionLink("Azuriranje podataka vozila", "", "")<br />

}

@if (Model.Uloga == "korisnik")
{
    @Html.ActionLink("Provera vozila na raspolaganju", "Index", "Vozilo")<br />
    @Html.ActionLink("Pretraga vozila", "NadjiVoziloPoReg", "Vozilo")<br />
    @Html.ActionLink("Kreiranje racuna", "Dodaj", "Racun")<br />
    @Html.ActionLink("Storniranje racuna", "Index", "Racun")<br />
    @Html.ActionLink("Kreiranje dokumentacije", "Index", "Dokumentacija")<br />

}