@model IEnumerable<pokusajNecega3.Models.BusinesObject.VoziloBO>


    <table class="table">
        <tr>
            <th>Registracioni broj</th>
            <th>Model</th>
            <th>Boja</th>
            <th>Zauzeto</th>
            <th>Brisanje</th>
        </tr>
        @foreach(var item in Model)
            {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegistracioniBroj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Boja)
        </td>

        <td>
            @if (item.Zauzeto == false)
            {
                <p>Nije zauzeto</p>
            }
            else
            {
                <p>Zauzeto je</p>
            }
        </td>
        <td>
            <input hidden readonly type="text" id="iRegZaFunk" name="name" value="@item.RegistracioniBroj" />
            <input hidden readonly type="text" id="iModZaFunk" value="@item.Model" />
            <button onclick="funkcija3()" type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger">Obriši</button>
        </td>
    </tr>
            }
    </table>

    <script>
        function funkcija3() {
            alert('Radi');
            let reg = document.getElementById('iRegZaFunk').value;
            let mod = document.getElementById('iModZaFunk').value;
            alert(reg);
            alert(mod);
            funkcija2(reg, mod);
        }
    </script>